.App {
  max-width: 1100px;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

input[type="text"] {
  border: 2px solid #0b75b9;
  border-radius: 4px;
  height: 40px;
  width: 400px;
  font-size: 20px;
  color: #0b75d9;
  outline-color: #ffd662ff;
}

button {
  border: 2px solid #0b75b9;
  border-radius: 4px;
  height: 30px;
  width: 100px;
  color: white;
  font-size: 16px;
  background-color: #0b75b9;
  outline-color: #ffd662ff;
}
